{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "9385be3c88ab6593350fdda50d86af985224971b"}

        amjil/mgl-components
        {:git/url "https://github.com/amjil/mgl-components.git"
         :sha "86a24fa48e0b737a2ca2bac649c3991641982559"}

        amjil/mongol-ime
        {:git/url "https://github.com/amjil/mongol-ime.git"
         :sha "de2f8235152de7297345b6b1ade4e6daba1b7d1c"}

        amjil/mongol-virtual-keyboard
        {:git/url "https://github.com/amjil/mongol-virtual-keyboard.git"
         :sha "ab43a23db57bd7739a89989ca8b7ad739f9db509"}}
       
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 }
