{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "4ee792f3044589c96b019c2a86db9b23f1b283ab"}

        amjil/mgl-components
        {;:git/url "https://github.com/amjil/mgl-components.git"
         ;:sha "86a24fa48e0b737a2ca2bac649c3991641982559"
         :local/root "../mgl-components"
         }
        
        amjil/mongol-virtual-keyboard
        {:local/root "../m-v-k"}

        amjil/mongol-desktop-ime
        {:local/root "../m-h-k"}
        
        amjil/mgl-ime-core
        {:local/root "../m-i-c"}
        


        }


 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
}
